<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eshore.business.mapper.ResgroupbindtblMapper">

    <resultMap type="Resgroupbindtbl" id="ResgroupbindtblResult">
            <result property="id" column="ID"/>
            <result property="resgroupid" column="ResGroupID"/>
            <result property="bindresid" column="BindResId"/>
            <result property="bindrestype" column="BindResType"/>
    </resultMap>

    <sql id="selectResgroupbindtblVo">
        SELECT ID, ResGroupID, BindResId, BindResType
        FROM resgroupbindtbl
    </sql>

    <select id="selectResgroupbindtblList" parameterType="ResgroupbindtblForm" resultMap="ResgroupbindtblResult">
        <include refid="selectResgroupbindtblVo"/>
        <where>
            <if test="resgroupid != null  and resgroupid != ''">
                AND ResGroupID = #{resgroupid}
            </if>
            <if test="bindresid != null  and bindresid != ''">
                AND BindResId = #{bindresid}
            </if>
            <if test="bindrestype != null ">
                AND BindResType = #{bindrestype}
            </if>
        </where>
        ORDER BY ID DESC
    </select>

    <select id="selectResgroupbindtblById" parameterType="Long" resultMap="ResgroupbindtblResult">
        <include refid="selectResgroupbindtblVo"/>
        WHERE ID = #{id}
    </select>

    <insert id="insertResgroupbindtbl" parameterType="Resgroupbindtbl" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO resgroupbindtbl
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="resgroupid != null">ResGroupID,</if>
            <if test="bindresid != null">BindResId,</if>
            <if test="bindrestype != null">BindResType,</if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
            <if test="resgroupid != null">#{resgroupid},</if>
            <if test="bindresid != null">#{bindresid},</if>
            <if test="bindrestype != null">#{bindrestype},</if>
        </trim>
    </insert>

    <update id="updateResgroupbindtbl" parameterType="Resgroupbindtbl">
        UPDATE resgroupbindtbl
        <trim prefix="SET" suffixOverrides=",">
            <if test="resgroupid != null">ResGroupID = #{resgroupid},</if>
            <if test="bindresid != null">BindResId = #{bindresid},</if>
            <if test="bindrestype != null">BindResType = #{bindrestype},</if>
        </trim>
        WHERE ID = #{id}
    </update>

    <delete id="deleteResgroupbindtblById" parameterType="Long">
        DELETE FROM resgroupbindtbl WHERE ID = #{id}
    </delete>

    <delete id="deleteResgroupbindtblByIds" parameterType="String">
        DELETE FROM resgroupbindtbl WHERE ID IN
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>